<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.sohu.kan"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" />

    <application android:name=".Global" android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".Start"
                  android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login" android:screenOrientation="portrait"/>
        <activity android:name=".SohuKan" android:screenOrientation="portrait"/>
		<activity android:name=".ReadList" android:screenOrientation="portrait"/>
		<activity android:name=".Read" android:screenOrientation="portrait">
			<intent-filter>  
				<action android:name="android.intent.action.SEND"/>  
				<category android:name="android.intent.category.DEFAULT"/>  
				<data android:mimeType="text/plain"/>  
			</intent-filter>
		</activity>
		<activity android:name=".Category" android:screenOrientation="portrait"/>
		<activity android:name=".EditArticle" android:screenOrientation="portrait"/>
		<activity android:name=".CategoryList" android:screenOrientation="portrait"/>
		<activity android:name=".Setting" android:screenOrientation="portrait"/>
		<activity android:name=".OtherLogin" android:screenOrientation="portrait"/>
		<activity android:name=".Register" android:screenOrientation="portrait"/>
		<activity android:name=".Collection" android:screenOrientation="portrait"/>
		<activity android:name=".PhoneCollection" android:screenOrientation="portrait"/>
		<activity android:name=".BrowserCollection" android:screenOrientation="portrait"/>
		<activity android:name=".FeedBack" android:screenOrientation="portrait"/>
		
		<receiver android:name="ClsReceiver2">  
		    <intent-filter>  
		        <action  
		            android:name="android.intent.action.send"/>  
		    </intent-filter>  
		</receiver> 
    </application>
    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCES_MOCK_LOCATION"></uses-permission> 
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
</manifest>